[Unit]
Description=Fulltext search index regeneration

[Service]
ProtectSystem=full
ProtectHome=true
PrivateDevices=true
ProtectHostname=true
ProtectClock=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
RestrictRealtime=true
Type=oneshot
User=grommunio
Group=groweb
# Using Group= drops our normal group from SuppGroups, so re-add it
SupplementaryGroups=grommunio
ExecStart=/usr/sbin/grommunio-index -Aq
