[Unit]
Description=Recurrent regeneration of grommunio FTS indexes

[Timer]
OnCalendar=*-*-* *:*:0/10:00
RandomizedDelaySec=300
Persistent=false

[Install]
WantedBy=timers.target
