[Unit]
Description=Fulltext search index regeneration

[Service]
ProtectSystem=full
ProtectHome=true
PrivateDevices=true
ProtectHostname=true
ProtectClock=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
RestrictRealtime=true
Type=oneshot
User=groindex
Group=groweb
# By default, secondary groups are initialized from User (i.e.
# groindex,groweb,gromoxcf); but setting Group=groweb drops groindex from the
# secondary list.. so I guess readd it.
SupplementaryGroups=groindex
ExecStart=/usr/bin/grommunio-index -Aq
