[Unit]
Description=Recurrent regeneration of grommunio FTS indexes

[Timer]
OnCalendar=*:0/15
RandomizedDelaySec=300
Persistent=false

[Install]
WantedBy=timers.target
