[Unit]
Description=Daily regeneration of grommunio FTS indexes

[Timer]
OnCalendar=daily
AccuracySec=12h
Persistent=true
RandomizedDelaySec=6000

[Install]
WantedBy=timers.target
